<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"
  </head>
  <body>
    <div class="winner">
      <h1><%=@current_turn%> is the winner!</h1>
      <h2><%=@other_player%> lost!</h2>
    </div>
    <div class="leo">
      <img src="http://www.telegraph.co.uk/content/dam/film/leoglobes3-xlarge.jpg">
    </div>
  </body>
</html>
